# Compare Search API

See if two stream listeners return the same set of tweets

In [1]:
import pandas as pd
import numpy as np

In [4]:
df_list = [pd.read_csv('data/us_tweets%i.csv'%i) for i in range(3)]
df = pd.concat(df_list)
df.shape

(30001, 8)

In [5]:
df2_list = [pd.read_csv('data/us_tweets_double%i.csv'%i) for i in range(3)]
df2 = pd.concat(df2_list)
df2.shape

(30001, 8)

In [6]:
df.head()

,date,retweet,text,tweet_id,tweet_place,user_id,user_name,user_place
0,2017-03-12 23:19:32+00:00,1,Who will watch (many rogue) watchdogs that #IC...,'841066156970692608',NaN,'626682905',andreakirwan,NaN
1,2017-03-12 23:19:32+00:00,1,US State Dept thinks Africa’s leading mobile m...,'841066157339750402',NaN,'393262557',dnb_paul,Marlow England
2,2017-03-12 23:19:32+00:00,0,How many children will lose access to basic he...,'841066157297815552',"{u'full_name': u'Arlington, TX', u'url': u'htt...",'28638059',univtxattorney,"ÜT: 33.132113,-96.773015"
3,2017-03-12 23:19:33+00:00,1,I did not resign. Moments ago I was fired. Bei...,'841066158195367938',NaN,'262991185',DebRabbai,New York City
4,2017-03-12 23:19:33+00:00,0,"Three tough outs this tournament - Louisville,...",'841066158199586817',NaN,'632976871',H2P4ever,NaN

In [7]:
df2.head()

,date,retweet,text,tweet_id,tweet_place,user_id,user_name,user_place
0,2017-03-12 23:19:48+00:00,0,Quick observation at the beginning of the Cana...,'841066221810393089',NaN,'1096451000',MotownTigres,Michigan
1,2017-03-12 23:19:48+00:00,0,@POTUS American's don't know TRUE COST of heal...,'841066222972207106',NaN,'4864171883',iVote_Trump,NaN
2,2017-03-12 23:19:48+00:00,0,"It will, especially if it is ""Obamacare light""...",'841066223232258050',NaN,'703773033404567553',PanchoFrielSr,NaN
3,2017-03-12 23:19:48+00:00,1,Securin' our borders isn't racist. Our homes h...,'841066223567683584',NaN,'1405624226',little_mitz,"Denver, CO | Phoenix, AZ"
4,2017-03-12 23:19:48+00:00,1,"3 up, 3 strikeouts for @Duff805. Ian Kinsler i...",'841066224050139137',NaN,'3122253720',Isxxsg,"Cleveland, OH"

In [10]:
# compare tweet_id
ids = df.tweet_id.values.tolist()
ids2 = df2.tweet_id.values.tolist()

one_in_two = [i for i in ids if i in ids2]
two_in_one = [i for i in ids2 if i in ids]

print len(one_in_two)
print len(two_in_one)

29822
29823

In [11]:
df[df.tweet_id.isin(one_in_two)].head()

,date,retweet,text,tweet_id,tweet_place,user_id,user_name,user_place
145,2017-03-12 23:19:48+00:00,1,"3 up, 3 strikeouts for @Duff805. Ian Kinsler i...",'841066224050139137',NaN,'3122253720',Isxxsg,"Cleveland, OH"
146,2017-03-12 23:19:48+00:00,0,"Interested in a #job in #VariousUSCities, US? ...",'841066224544964608',"{u'full_name': u'Manhattan, NY', u'url': u'htt...",'22095564',tmj_lax_legal,"Los Angeles, CA"
147,2017-03-12 23:19:48+00:00,1,Noam Chomsky - 'Requiem For The American Dream...,'841066225061023744',NaN,'2355293715',CarlaKrone,NaN
148,2017-03-12 23:19:48+00:00,1,America's most wanted hacker likes fancy cars ...,'841066225111322625',NaN,'150051391',SirBrainer,Via Lactea
149,2017-03-12 23:19:48+00:00,1,I think this is the most openly racist thing I...,'841066225107099648',NaN,'551918141',rpai75,"Pittsburgh, PA"

In [12]:
df1_1 = pd.read_csv('data/us_tweets0.csv')
df2_1 = pd.read_csv('data/us_tweets_double0.csv')

In [13]:
subdf1 = df1_1[145:]
subdf1.head()

,date,retweet,text,tweet_id,tweet_place,user_id,user_name,user_place
145,2017-03-12 23:19:48+00:00,1,"3 up, 3 strikeouts for @Duff805. Ian Kinsler i...",'841066224050139137',NaN,'3122253720',Isxxsg,"Cleveland, OH"
146,2017-03-12 23:19:48+00:00,0,"Interested in a #job in #VariousUSCities, US? ...",'841066224544964608',"{u'full_name': u'Manhattan, NY', u'url': u'htt...",'22095564',tmj_lax_legal,"Los Angeles, CA"
147,2017-03-12 23:19:48+00:00,1,Noam Chomsky - 'Requiem For The American Dream...,'841066225061023744',NaN,'2355293715',CarlaKrone,NaN
148,2017-03-12 23:19:48+00:00,1,America's most wanted hacker likes fancy cars ...,'841066225111322625',NaN,'150051391',SirBrainer,Via Lactea
149,2017-03-12 23:19:48+00:00,1,I think this is the most openly racist thing I...,'841066225107099648',NaN,'551918141',rpai75,"Pittsburgh, PA"

In [14]:
subdf2 = df2_1[4:]
subdf2.head()

,date,retweet,text,tweet_id,tweet_place,user_id,user_name,user_place
4,2017-03-12 23:19:48+00:00,1,"3 up, 3 strikeouts for @Duff805. Ian Kinsler i...",'841066224050139137',NaN,'3122253720',Isxxsg,"Cleveland, OH"
5,2017-03-12 23:19:48+00:00,0,"Interested in a #job in #VariousUSCities, US? ...",'841066224544964608',"{u'full_name': u'Manhattan, NY', u'url': u'htt...",'22095564',tmj_lax_legal,"Los Angeles, CA"
6,2017-03-12 23:19:48+00:00,1,Noam Chomsky - 'Requiem For The American Dream...,'841066225061023744',NaN,'2355293715',CarlaKrone,NaN
7,2017-03-12 23:19:48+00:00,1,America's most wanted hacker likes fancy cars ...,'841066225111322625',NaN,'150051391',SirBrainer,Via Lactea
8,2017-03-12 23:19:48+00:00,1,I think this is the most openly racist thing I...,'841066225107099648',NaN,'551918141',rpai75,"Pittsburgh, PA"

In [15]:
subdf1.shape, subdf2.shape

((9856, 8), (9997, 8))

In [16]:
subdf1.tweet_id.equals(subdf2.tweet_id[:9856])

False

In [17]:
len(subdf1.tweet_id), len(subdf2.tweet_id[:9856])

(9856, 9856)

In [24]:
compare = [subdf1.iloc[i]['tweet_id']==subdf2.iloc[i]['tweet_id'] for i in range(9856)]
len(compare)

9856

In [25]:
len(set(subdf1.tweet_id.values.tolist()).intersection(set(subdf2.tweet_id.values.tolist())))

9843

In [26]:
for i in range(100):
    print subdf1.iloc[i]['tweet_id'], subdf2.iloc[i]['tweet_id']

'841066224050139137' '841066224050139137'
'841066224544964608' '841066224544964608'
'841066225061023744' '841066225061023744'
'841066225111322625' '841066225111322625'
'841066225107099648' '841066225107099648'
'841066225996312576' '841066225996312576'
'841066226306674688' '841066226306674688'
'841066226533224448' '841066226533224448'
'841066228005314560' '841066228005314560'
'841066228278005760' '841066228278005760'
'841066228601016321' '841066228601016321'
'841066228718407683' '841066228718407683'
'841066229125246977' '841066229125246977'
'841066229095886849' '841066228869394432'
'841066228869394432' '841066229095886849'
'841066229162999809' '841066229162999809'
'841066229301358592' '841066229301358592'
'841066229729239040' '841066229729239040'
'841066232476520449' '841066232476520449'
'841066232975642625' '841066232975642625'
'841066233252450304' '841066233252450304'
'841066232518451200' '841066232518451200'
'841066233340547072' '841066233340547072'
'841066234586226688' '841066234586226688'
'841066234762448896' '841066234762448896'
'841066236498870272' '841066236498870272'
'841066236452691969' '841066236452691969'
'841066236767268865' '841066236767268865'
'841066236821790721' '841066236821790721'
'841066237375463426' '841066237375463426'
'841066237761339392' '841066237761339392'
'841066238298210304' '841066238298210304'
'841066237752954880' '841066237752954880'
'841066238927335424' '841066238927335424'
'841066240865140736' '841066240865140736'
'841066240466661376' '841066240466661376'
'841066240974213121' '841066240974213121'
'841066241695612928' '841066241695612928'
'841066241779425280' '841066241779425280'
'841066242811256832' '841066242811256832'
'841066243079692297' '841066243079692297'
'841066242890960898' '841066242890960898'
'841066243411058688' '841066243411058688'
'841066244761669633' '841066244761669633'
'841066245680222208' '841066245680222208'
'841066245822771200' '841066245822771200'
'841066245566877697' '841066245566877697'
'841066246355484672' '841066246355484672'
'841066247013953536' '841066247013953536'
'841066247060103169' '841066247060103169'
'841066246384824320' '841066246384824320'
'841066247831900160' '841066247831900160'
'841066247785660416' '841066247785660416'
'841066248289038338' '841066248289038338'
'841066247840239617' '841066247840239617'
'841066248125444096' '841066248125444096'
'841066250050646019' '841066250050646019'
'841066249933201409' '841066249933201409'
'841066250314928128' '841066250314928128'
'841066250545582080' '841066250545582080'
'841066250449100805' '841066250449100805'
'841066250558103554' '841066250558103554'
'841066251145363457' '841066251145363457'
'841066251174739970' '841066251174739970'
'841066254622429185' '841066254622429185'
'841066255197077504' '841066255197077504'
'841066254676967425' '841066254676967425'
'841066255268368385' '841066255268368385'
'841066255675203584' '841066255675203584'
'841066257860481029' '841066257860481029'
'841066257742995456' '841066257742995456'
'841066256992223237' '841066256992223237'
'841066258543984640' '841066258543984640'
'841066258888085508' '841066258888085508'
'841066258741121024' '841066258741121024'
'841066258883842049' '841066258883842049'
'841066262084124672' '841066262084124672'
'841066262579052544' '841066262579052544'
'841066263786995712' '841066263786995712'
'841066264818774018' '841066264818774018'
'841066266060292097' '841066266060292097'
'841066265934413825' '841066265934413825'
'841066266366361600' '841066266366361600'
'841066267163447296' '841066267163447296'
'841066267394088961' '841066267394088961'
'841066267553476610' '841066267553476610'
'841066267838685185' '841066267838685185'
'841066267675131904' '841066267675131904'
'841066267956170752' '841066267956170752'
'841066267574435840' '841066267574435840'
'841066268962758656' '841066268962758656'
'841066269960953856' '841066269960953856'
'841066270263001090' '841066270263001090'
'841066270443360256' '841066270443360256'
'841066271781322756' '841066271781322756'
'841066271890395137' '841066271890395137'
'841066272318246913' '841066272318246913'
'841066272913788928' '841066272913788928'
'841066274444713984' '841066274444713984'
'841066274629308416' '841066274629308416'